[user]
	name = {{ .git.name | quote }}
	email = {{ .git.email | quote }}

[color]
	status = always

[pull]
	rebase = false

[alias]
	# most used
    st = status
    cm = commit
    co = checkout
    cob = checkout -b
    untag = "!f() { git push --delete origin $1; git tag --delete $1; }; f"
    undo = reset HEAD~1 --mixed
    amend = commit -a --amend
    amendq = commit -a --amend --no-edit

	# less used
	br = branch
	unstage = reset HEAD --
	hist = log --oneline --abbrev-commit --all --graph --decorate=short --color
    ec = config --global -e
    ecl = config --local -e
    cma = ! git add -A && git commit -m
    cmq = ! git commit -m \"$(git status --porcelain)\"
