#!/bin/sh
{{- $fish := "" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   if eq .chezmoi.arch "arm64" }}
{{-     $fish = "/opt/homefish/bin/fish" }}
{{-   else }}
{{-     $fish = "/usr/local/bin/fish" }}
{{-   end }}
{{- else if eq .chezmoi.os "linux" }}
{{-   $fish = "/home/linuxfish/.linuxbrew/bin/fish" }}
{{- end }}

{{- if stat $fish }}
grep fish /etc/shells > /dev/null || echo -n {{ $fish }} | sudo tee -a /etc/shells
CURRENT_SHELL=$(dscl . -read {{ .chezmoi.homeDir }} UserShell | sed 's/UserShell: //')
if [ "$CURRENT_SHELL" != "{{ $fish }}" ]; then
  echo 'fish is not current shell, running chsh...'
  chsh -s {{ $fish }}
fi
{{- end }}
