set -gx EDITOR hx
{{- if (mustRegexMatch "^.*microsoft.*$" (get .chezmoi.kernel "osrelease")) }}
set -gx BROWSER wslview
{{- end }}

# path setup
{{- if eq .chezmoi.os "linux" }}
set -gx PATH /home/linuxbrew/.linuxbrew/bin $PATH
{{- else if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64" )) }}
set -gx PATH /opt/homebrew/bin $PATH
{{- end }}
set -gx PATH /usr/local/bin $PATH
set -gx PATH $HOME/.local/bin $PATH
set -gx PATH $PATH $HOME/.cargo/bin
set -gx PATH $PATH $HOME/.krew/bin

# aliases
alias ls="exa"

# abbreviations
abbr vi $EDITOR
abbr k kubectl
abbr kconf kubectl config

abbr cm chezmoi
abbr cma chezmoi add
abbr cmap chezmoi apply
abbr cmd chezmoi diff
abbr cme chezmoi edit
abbr cmg chezmoi git
abbr cmu chezmoi update

# get unique with awk
abbr guniq "awk '!seen[\$1]++'"

# git diff but outside of git repos
abbr gdiff "git --no-pager diff --no-index"

if status is-interactive
    starship init fish | source
    fnm env --use-on-cd | source
    bind \cX\cE __edit_commandline
end
